.footer {
  padding: 40px 20px;
}

.footer__socials {
  margin: 0;
  padding: 0;
}

.footer__copyrights-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
}
