.hero {
  display: flex;
  min-height: 733px;
  padding-top: 60px;
  position: relative;
  background: url("../img/back-mobile.jpg") no-repeat top center;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile-x2.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/back-tablet.jpg");
  }

  @media (min-width: @tablet-width) and (min-resolution: 2dppx) {
    background-image: url("../img/back-tablet-x2.jpg");
  }

  @media (min-width: @desctop-width) {
    background-image: url("../img/back-desktop.jpg");
  }

  @media (min-width: @desctop-width) and (min-resolution: 2dppx) {
    background-image: url("../img/back-desktop-x2.jpg");
  }
}

.hero__phone {
  width: 100%;
  height: 286px;
  position: absolute;
  top: 151px;
  background-image: url("../img/hero-phone-mobile.png");
  background-repeat: no-repeat;
  background-position: center bottom;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-phone-mobile-x2.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/hero-phone-tablet.jpg");
  }

  @media (min-width: @tablet-width) and (min-resolution: 2dppx) {
    background-image: url("../img/hero-phone-tablet-x2.jpg");
  }

  @media (min-width: @desctop-width) {
    background-image: url("../img/hero-phone-desktop.jpg");
  }

  @media (min-width: @desctop-width) and (min-resolution: 2dppx) {
    background-image: url("../img/hero-phone-desktop-x2.jpg");
  }
}

.hero__text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: @font-on-dark;
}
