.hero-description {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 28px 20px 38px;
  background: @bg-hero;
}

.hero-description__button {
  display: block;
  padding: 18px 35px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: @font-on-dark;
  border: 3px solid @font-on-dark;
  border-radius: 29px;
  text-decoration: none;
}

.hero-description__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @font-on-dark;
}
