.panorama {
  position: relative;
  margin-bottom: 20px;
}

.panorama__heading {
  width: 140px;
  height: 36px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 1;
  background: @font-secondary;
  font-size: 12px;
  line-height: 36px;
  color: @font-on-dark;
  text-align: center;
  text-transform: uppercase;
}

.panorama img {
  width: 100%;
}
