.tariffs {
  background-color: @bg-blocks;
  padding: 83px 0 50px;
}

.tariffs__list {
  margin: 0;
  padding: 0;
}

.tariffs__item {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.tariffs__toggles {
  margin-top: 45px;
}
