.tarifs__item {
  list-style: none;
}

.tariff__heading {
  padding: 19px;
  background-color: @font-primary;
}

.tariff__name {
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: @font-on-dark;
}

.tariff__price {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: @font-on-dark;
}
