// Colors
@font-primary: #283645;
@font-secondary: #D22856;
@font-heading: #000000;
@font-on-dark: #ffffff;
@bg-body: #ffffff;
@bg-header: rgba(0, 0, 0, 0.3);
@bg-blocks: #F2F2F2;
@bg-hero: #1D2631;
@bg-form-btn: #1C9B5E;
@form-border: #E5E5E5;

//breakpoints
@mobile-width-only: 659px;
@tablet-width: 660px;
@mobile-tablet-only: 1199px;
@desktop-width: 1200px;
